.footer-logo {
    height: 6vmin;
    display: inline-block;
}

.footer-brand{
    font-family: "Sulphur Point", sans-serif;
    color: #7cc028;
    display: inline-block;
    font-size: 1.5rem;
}

.footer-text {
    font-family: "Sulphur Point", sans-serif;
    color: #7cc028;
    display: inline-block;
    font-size: 1.5rem;
    padding: 0.5rem;
}

.ant-layout-footer {
    float: left ;
    background: #efefef;
    margin-top: auto;
}

